*{
    margin: 0;
    padding: 0;
}

.dropdown a.dropdown-toggle {
    color: #fff !important;
}

.navigationli1  ul li a{
    transition: all 0.4s;
}


.userLogIn {
    color: #FFF;
}

.registrarse a:hover{
    color: rgb(223, 19, 19);
}

.userLogIn:focus,
.userLogIn:hover {
    color: #016D7A;
}

.fondoLanding {
    background-image: url('./img/pexels-maria-orlova-4947408.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: calc(100vh - 60px);
    background-position: bottom;
}

.colIngreso {
    background-color: #FFF;
    opacity: .7;
    border-radius: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerRS {
    color:transparent;
}

.footerRS svg:hover {
    fill: #FFF;
}