*{
    margin: 0;
    padding: 0;
}

.dropdown a.dropdown-toggle {
    color: #fff !important;
}

.navigationli1  ul li a{
    transition: all 0.4s;
}

.logo{
    letter-spacing: 5px;
    font-size: 1.3em;
}
.userLogIn {
    color: #FFF;
}
.EnviarBlanco{
    color: #fff;
}
.registrarse a:hover{
    color: rgb(223, 19, 19);
}


.userLogIn:focus,
.userLogIn:hover {
    color: #016D7A;
}

.fondoIngreso {
    background-image: url('./img/pexels-maria-orlova-4947408.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: calc(100vh - 60px);
    background-position: bottom;
}
.Letras{
     font-family: Georgia, 'Times New Roman', Times, serif;
     line-height: 1.3em;
     font-size: 1.0rem;
}

.fondoRegistro {
    background-image: url('./img/pexels-alleksana-4185957.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 110vh;
    background-position: top;
}

.colIngreso {
    background-color: #FFF;
    opacity: .9;
    border-radius: 15px;
}

.footerAbsolute {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerRS {
    color:transparent;
}

.footerRS svg:hover {
    fill: #FFF;
}

.imgCarousel {
    height: 500px;
}